
.selection-options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: auto;
    height: auto;
    margin-bottom: 50px;
    
    @media (min-width: 320px)and (max-width: 768px) {
        // margin: 0px 0px 20px 0px;
        padding: 0px; 
        width: 90%;
        // padding: 10px;
    }
}

