.Container-carousel{
    display: flex;
    justify-content: center;
    align-items: center;
    .carousel{
        width: 80%;
        height: 400px;
        background-color: #f66c6c;
        border-radius: 15px;
        margin: 50px;
    }
}