
.Nav-container{
    margin: 20px 100px 0 100px;
    // background-color: #f66c6c;
    @media (min-width: 320px) and (max-width: 768px){
        width: 100%;  
        margin: 20px 0px 30px 0px;
        

        }
    .navbar{
        display: flex;
        justify-content : space-between;
        margin-bottom: 50px;
        width: 100%; 
    
        &__Kasa-logo{
            width: 10%;
                @media (min-width: 320px) and (max-width: 768px) {
                    width: 30%; 
                    padding: 5px; 
                }
                @media (min-width: 768px) and (max-width: 1024px) {
                    width: 15%;  
                }
        }
            &__links-nav{
                display: flex;
                width: 230px;
                font-family: 'Montserrat', sans-serif;
                font-size: 1.2em;
                // background-color: burlywood;
                @media (min-width: 320px)and (max-width: 768px) {
                    width: 180px;
                    
                }
                    
                .link-nav{
                    margin-left: 20px;
                    margin-right: 20px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    color: #f66c6c;
                    text-decoration: none;
                        &:hover{
                            text-decoration:underline;
                        }
                        // background-color: gray;
                        
                         @media (min-width: 320px)and (max-width: 768px) {
                            width: 200px;
                            font-size: 1.0em;
                            margin: 0;
                            
                        }
                    }
                // background-color: aquamarine;
            }
    
    }
}