
.container{
    background-color:#f6f6f6 ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: auto;
    margin: 50px 100px 50px 100px;
    padding: 30px;
    flex-wrap: wrap;

    @media (min-width: 320px)and (max-width: 768px) {
        margin: 0px;
        padding: 0px; 
        background-color: transparent;
    }

    &__aparts{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        
        
    }
}



