.container{
    background-color:#f6f6f6 ;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    height: auto;
    margin: 0 90px 50px 90px;
    padding: 30px;
    // background-color: green;
    &__aparts{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        // background-color: aqua;
        .article-apart{
            width: 29%;
            height: 400px;
            background-color: #f66c6c;
            border-radius: 15px;
            margin: 20px;
            color: white;

            .text-apart{
                display: flex;
                position: relative;
                top: 320px;
                margin: 20px;
                
                font-size: 1.3em;
                // background-color: green;
                width: 100px;
            }
        }
        
    }
}



