.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    // height: 500px;
    // background-color: #f66c6c;
    border-radius: 15px;
    margin: 50px;
    @media (min-width: 320px)and (max-width: 768px) {
        // height: 400px;  
        width: 100%;
        margin: 0px;
        padding: 10px; 
    }
    .imgAprt-carousel{
        width: 100%;
        // width: 80%;
        height: 500px;
        object-fit: cover;
        display: flex;
        justify-content: center;
        border-radius: 15px;
        @media (min-width: 320px)and (max-width: 768px) {
            height: 50%;  
            width: 100%;
            
            
        }
    }
    .show-Arrow{
        display: flex;
    }
    .hide-Arrow{
        display: none;
    }
    .Arrow-left-carousel{
        
        justify-content: center;
        align-items: center;
        margin: 10px;
        position: absolute;
        left: 200px;
        @media (min-width: 320px)and (max-width: 768px) {
        left: 15px; 
        width: 5%;  
        }
    }
    .Arrow-right-carousel{
        position: absolute;
        right: 200px;
        
        @media (min-width: 320px)and (max-width: 768px) {
            right: 20px;  
            width: 5%; 
            }

    }
    .text-carousel{
        display: flex;
        justify-content: center;
        color: white;
        position: absolute;
        bottom: 300px;
        @media (min-width: 320px)and (max-width: 768px) {
            // position: absolute;
            bottom: 0px;
            top: 530px;
            height: 20px;
            background-color: red;
            display: none;
            
        }
        
        
    }
}
